# Import Packages

In [29]:

import numpy as np
import pandas as pd
import random

In [30]:
# List of Cities for Cities Column
cities= ['Oulu', 'Tampere', 'Helsinki','Turku','Rovaniemi']*10

In [31]:
# List of Salaries for Salaries Column
salaries=[random.randint(2000,5000) for i in range(0,50)]

In [32]:
# List of Years for years_of_experience Column
years_of_experience = [random.randint(0,10) for i in range(0,50)]

In [33]:
#List of Gender
gender=[np.nan for i in range(0,50)]

In [34]:
gender[1]='M'
gender[45]='M'

In [35]:
gender

[nan,
 'M',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'M',
 nan,
 nan,
 nan,
 nan]

In [36]:
# Create Datframe from above lists
df =  pd.DataFrame(data={'Years_of_Experience':years_of_experience, 'Cities': cities, 'Salaries':salaries, 'Gender': gender} )

In [37]:
# Replace 0 with NaN
df=df.replace(0,np.nan)

In [38]:
# Create Random Index 
index = [random.randint(0,49) for i in range(6) ]

# Replace random values of Cities column with NaN
for i in range(6):
    print(df.loc[index[i],'Cities'])
    df.loc[index[i],'Cities']=np.nan

Helsinki
Oulu
Tampere
Oulu
Turku
Turku

In [39]:
# Replace one salary value with NaN
df.loc[35,'Salaries']= np.nan

In [40]:
#Check 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
Years_of_Experience    42 non-null float64
Cities                 44 non-null object
Salaries               49 non-null float64
Gender                 2 non-null object
dtypes: float64(2), object(2)
memory usage: 1.6+ KB

In [41]:
#Save dataframe to filename Raw Data To Preprocess.csv
df.to_csv('Raw Data To Preprocess', index= False)