In [173]:
import numpy as np
import pandas as pd
import random

In [174]:
# List of Cities for Cities Column
cities= ['Oulu', 'Tampere', 'Helsinki','Turku','Rovaniemi']*10

In [160]:
# List of Salaries for Salaries Column
salaries=[random.randint(2000,5000) for i in range(0,50)]

In [175]:
# List of Years for years_of_experience Column
years_of_experience = [random.randint(0,10) for i in range(0,50)]

In [162]:
# Create Datframe from above lists
df =  pd.DataFrame(data={'Years_of_Experience':years_of_experience, 'Cities': cities, 'Salaries':salaries} )

In [163]:
# Replace 0 with NaN
df=df.replace(0,np.nan)

In [164]:
# Create Random Index 
index = [random.randint(0,49) for i in range(6) ]

# Replace random values of Cities column with NaN
for i in range(6):
    print(df.loc[index[i],'Cities'])
    df.loc[index[i],'Cities']=np.nan

Helsinki
Tampere
Turku
Oulu
Helsinki
Turku

In [169]:
# Replace one salary value with NaN
df.loc[35,'Salaries']= np.nan

In [170]:
#Check 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
Years_of_Experience    44 non-null float64
Cities                 44 non-null object
Salaries               49 non-null float64
dtypes: float64(2), object(1)
memory usage: 1.2+ KB

In [177]:
#Save dataframe to filename Raw Data To Preprocess.csv
df.to_csv('Raw Data To Preprocess', index= False)